# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
dist/
.ipynb_checkpoints

*.swp
*.swo
*.log
*.DS_Store
.tmp
.sass-cache
.git

spmf.jar

instacart_basket_data/*
!instacart_basket_data/.gitkeep
